<div class="">
  <div class="notification_new">
    <%= link_to "お知らせの作成",new_notification_path,class: "btn btn-info" %>
  </div>
  <div class="notification_all">
    <% @notices.each do |notice| %>
      <div class="notice">
        <div class="panel">
        <div class="panel-body">
        <strong><%= notice.title %></strong><br>
        <small><%= notice.category %></small><br>
        <%= image_tag notice.eyecatch.url, style: "width: 300px;" %><br>
        <p><%= notice.text %></p><br>
        <%= link_to "削除",notice, method: :delete, data: { confirm: "本当に削除しますか？" }, class: "btn btn-info" %>
        <%= link_to "編集",edit_notification_path(notice), class: "btn btn-info" %>
　　　　　</div>
      </div>
      </div>
    <% end %>
  </div>
</div>
