<div class="panel">
  <div class="panel-body">
    <h2>お知らせの作成</h2>
    <div class="notice_new_form row col-md-8 col-md-offset-2">
      <%= form_for @notice do |f| %>
        <label for="title">タイトル</label>
        <%= f.text_field :title,class: "form-control" %>
        <label for="text">本文</label>
        <%= f.text_area :text,class: "form-control",rows: "8" %>
        <label for="category">カテゴリー</label>
        <%= f.select :category,["重要","お知らせ","アップデート"],class: "form-control" %>
        <label for="eyecatch">アイキャッチ</label>
        <%= f.file_field :eyecatch,class: "form-control" %>
        <%= f.submit "お知らせを投稿する",class: "btn btn-warning" %>
      <% end %>
    </div>
  </div>
</div>
