<% provide(:title, @user.name) %>
<div class="container">
    <div class="col-md-8">
      <div class="user-header">
      <div class="user_image">
          <%= gravatar_for @user %>
      </div>

      <%= render 'shared/stats' %>
      <%= render 'follow_form' if logged_in? %>
   
      </div>

     </div>
<!--  自分のプロフィールの場合は編集ボタンをだす -->
       <li><%= link_to "編集", edit_user_path %></li>
<!--  自分以外のプロフィールの場合はフォローボタン（済みなら解除） -->
       <li><%= link_to "フォロー", edit_user_path %></li>
<!--  自分以外のプロフィールの場合はフォローボタン（済みなら解除） -->
      <li><%= link_to "本を作る", new_book_path %></li>
    </div>
<!-- -->

<div class="container">
    <div class="row col-md-8">
      <%= @user.name %>
      <% if @user.introduction? %>
      <%= @user.introduction %>
      <% end %>
      <% if @user.weblink? %>
      <%= @user.weblink %>
      <% end %>
  <hr>

  <h3>Book</h3>
      <% if @user.books.any? %>
      <% @books.each do |book| %>
    <div class="panel">

  <%= link_to book.title,book_path(book) %>
</div>
    <% end %>
    <% end %>
  </div>
 </div>
