
    <% @books.each do |book| %>
<div class="panel panel-default">
<%= link_to book.title,book_path(book) %>
      <p><%= book.prologue %></p>
      <p><%= image_tag(book.bookCover.url, :width => '300') unless book.bookCover.blank? %></p>
      <p><%= book.progress ? "終了した旅" : "進行中の旅" %></p>
      <p><%= book.schedule %></p>
    

        <div id="favorite_<%= book.id %>">
          <% if book.favorite_users.include?(current_user) %>
            <%= link_to destroy_favorite_path(book_id: book.id),style: "font-size: 28px;color:#ffe400;",remote: true do %>
              <i class="fas fa-star"></i>
            <% end %>
          <% else%>
            <%= link_to new_favorite_path(book_id: book.id),style: "font-size: 28px;color:#ffe400;",remote: true do %>
              <i class="far fa-star"></i>
            <% end %>
          <% end %>
          </div>
        </div>

    <% end %>