<p id="notice"><%= notice %></p>

<h1>Books</h1>


    <% @books.each do |book| %>
    <div class="panel panel-default"ß>
    
        <%= book.user_id %><br>
        <%= book.title %><br>
        <%= book.prologue %><br>
        <%= image_tag book.bookCover.to_s , width:"300px"  %><br>
        <%= book.progress %><br>
        <%= book.schedule %><br>
        <div id="favorite_<%= book.id %>">
          <% if book.favorite_users.include?(current_user) %>
            <%= link_to destroy_favorite_path(book_id: book.id),style: "font-size: 28px;color:#ffe400;",remote: true do %>
              <i class="fas fa-star"></i>
            <% end %>
          <% else%>
            <%= link_to new_favorite_path(book_id: book.id),style: "font-size: 28px;color:#ffe400;",remote: true do %>
              <i class="far fa-star"></i>
            <% end %>
          <% end %>
        </div>
        <br>

   
      </div>
    <% end %>


<br>

