<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCrxk4mWzR5KuFY6-X95rlEAnT1YhoJq5E&callback" async defer></script>
<div class="container">
    <div class="row">
        <div class="card-columns">
            <!------------------------------------ カード　------------------------------------>
            <% @books.each do |book| %><!-- 繰り返し -->
                <div class="card shadow" style="margin:20px 2px; font-size:0.9em;">
                    <div class="card-header bg-white no-gutters" style="border:none; padding-left:5px;">
                        <div class="row">
                            <div class="col-6">
                                <%= book.user.name %>
                            </div>
                        </div>
                    </div>
                </div> 
                <% if book.bookCover? %>
                    <a href="/book/<%= book.id %>">
                        <div class="card-body no-gutters" style="padding:0;"><!-- 画像 -->

                                        <div class="listtrim">
                                            <%= image_tag book.bookCover.url  unless book.bookCover.blank? %>
                                        </div>
                                    
                    </a>
                <% end %>
                <div class="card-body no-gutters" style="z-index:15;">
                <a style="padding:0px;" href="/book/<%= book.id %>">
                <div style="padding:5px;">
                    <%=  book.prologue.truncate(100) %><!-- 本文 -->
                </div>
                </a>
                <div class="card-body no-gutters"style="padding-left:5px;">
                    <% book.book_hash_tags.each do |tag| %><!-- ハッシュタグ -->
                        <div style="padding-left:5px;">
                            #<%= tag.tag %>
                        </div>
                    <% end %>
                </div>
                <div class="row">
                <!-- いいね&コメントカウント -->
                <div class="col-7 ">
                    <% if logged_in? %>
                    <i class="fas fa-heart"></i>100<i class="far fa-comment" style="padding-left:20px;">10</i>
                    <% end %>
                </div>
                <!-- viewカウント　-->
                <div class="col-5">
                    <i class="fas fa-eye" style="padding-left:55px;"></i>100
                </div>
            <% end %>
        <!------------------------------------ カード　------------------------------------>
        </div>
    </div>
</div>
