<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @book.user_id %>
</p>

<p>
  <strong>Title:</strong>
  <%= @book.title %>
</p>

<p>
  <strong>Prologue:</strong>
  <%= @book.prologue %>
</p>

<p>
  <strong>Bookcover:</strong>
  <%= @book.bookcover %>
</p>

<p>
  <strong>Progress:</strong>
  <%= @book.progress %>
</p>

<p>
  <strong>Schedule:</strong>
  <%= @book.schedule %>
</p>

<%= link_to 'Edit', edit_book_path(@book) %> |
<%= link_to 'Back', books_path %>
