<div class="container">
<div class="bookCover"><!-- 概要　-->
    <%= image_for(@user) %>
    <%= link_to @user.name,user_path(@user) %>
 
    <div class="bookCover-image">
    <%= image_tag @book.bookCover.url, width:"300px" %>


    <div class="book_particulars">
      <%= @book.progress %>
			<%= simple_format @book.prologue %>
      <strong>旅のスケジュール</strong>
      <%= @book.schedule %>



    <%= link_to 'Edit', edit_book_path(@book) %> |
    <%= link_to 'Back', books_path %>
    <%= link_to "ポストの作成",new_book_post_path(@book),class: "btn btn-info" %>
    </div>
	</div>
	<hr>


<!-- ポスト　-->
<% @book.posts.each do |post| %>


<div class="panel panel-default"><!-- パネル　-->
<div class="panel-body">
	<!-- マーカー -->
  <button type="button" name="button"  data-toggle="modal" data-target="#mapModal" data-backdrop="true" onClick="map_function(<%= post.latitude %>,<%= post.longitude %>)">
<i class="fas fa-map-marker-alt" style="font-size: 30px;margin: 10px 10px 0px 20px;color: #ff0e0e;"></i>
  </button>
  <% post.post_hash_tags.each do |tag| %>
    <span class="btn btn-default">#<%= tag.tag %></span>
  <% end %>


	<!-- モーダル -->
	<div class="modal fade" id="mapModal" tabindex="-1">
		<div class="modal-dialog">
			<div class="modal-body">
	      <div id="map"></div><!-- map -->

					<button type="button" class="btn btn-default" data-dismiss="modal">閉じる</button>
			</div>
		</div>
	</div><!-- モーダルここまで-->
    <%if post.image1? %> <!-- カルーセル -->
    <div class="swiper-container">
      <div class="swiper-wrapper">
      		<%= image_tag post.image1.url,class:"swiper-slide"  unless post.image1.blank?%>
      		<%= image_tag post.image2.url,class:"swiper-slide"   unless post.image2.blank?%>
      		<%= image_tag post.image3.url,class:"swiper-slide"  unless post.image3.blank? %>
      </div>
			    <div class="swiper-pagination"></div>
    </div>


    <% end %><!-- カルーセルここまで -->
		<div class="post-text">
		    <%= simple_format post.text %>
		</div>


</div>
<a href="<%= @book.id %>/posts/<%= post.id %>">
<button type="button" class="btn btn-default" data-dismiss="modal">詳細</button>
</a>

<!-- いいね機能 -->
<% if current_user.nices.find_by(post_id: post.id) %>
  <%= link_to nice_path(post_id: post.id), method: :delete, remote: true do %>
      <div class = "iine__button">❤️<%= post.nices.count %></div>
  <% end %>
<% else %>
  <%= link_to nices_path(post_id: post.id), method: :post, remote: true do %>
      <div class = "iine__button">♡️<%= post.nices.count %></div>
  <% end %>
<% end %>

    </div><!-- パネルここまで -->

    <% end %>

<!-- ポストここまで -->

  <script>
    var swiper = new Swiper('.swiper-container', {
      loop: true,
     pagination: {
       el: '.swiper-pagination',
     },
   });
    function map_function(latitude,longitude){

      // $('#map_latitude').val(latitude);
      // $('#map_longitude').val(longitude);
        // L.Icon.Default.imagePath = "/assets";
          var map = L.map('map').setView([latitude, longitude],17);
          var osmUrl = "http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png";
          var osmAttrib = "Map data OpenstreetMap contributors";
            L.tileLayer(osmUrl,{
              attribution: osmAttrib,
              maxZoom: 20,
              }).addTo(map);
                var marker = L.marker([latitude, longitude]).addTo(map);
                map.on("click",function(e){
                  marker.setLatLng(e.latlng);
                  // $('#map_latitude').val(e.latlng.lat);
                  // $ ('#map_longitude').val(e.latlng.lng);
            });
          }
  </script>

      <style type="text/css">
          #map {
                height:400px;
                width: 100%;
                }
                .swiper-wrapper img{
                  width:100%;
                }

      </style>
