<% provide(:title, 'post') %>
<h1>post</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@post) do |f| %>

<%
=begin
%>

      <%= f.label :book_idを紐付ける %>
      <%= f.text_field :book, class: 'form-control' %>

      <%= f.label :ハッシュタグ %>
      <%= f.text_field :post_hash_tags, class: 'form-control' %>

<%
=end
%>

      <%= f.label :text %>
      <%= f.text_area :text, class: 'form-control' %>
<%
=begin
%>

      <%= f.label :image, "画像１" %>
      <%= f.file_field :image1, class: 'form-control' %>

      <%= f.label :image, "画像２" %>
      <%= f.file_field :image2, class: 'form-control' %>

      <%= f.label :image, "画像３" %>
      <%= f.file_field :image2, class: 'form-control' %>



      <%= f.label :image, "緯度" %>
      <%= f.text_field :longitude, class: 'form-control' %>

      <%= f.label :image, "経度" %>
      <%= f.text_field :latitude, class: 'form-control' %>

<%
=end
%>
      <%= f.submit "post", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
