<ul class=" nav-fill custom-nav mx-auto" role="tablist" style="padding-top:75px;margin-bottom:0px;">
<div class="container">
    <li class="nav-item-pill each-tab">
      <a class="nav-link active btn-blue"  href="/" role="tab">#最新</a>
    </li>
    <li class="nav-item-pill each-tab">
    <%= link_to '#日本', post_search_path(search: "日本"),:class=>"btn-red"%>
    </li>
    <li class="nav-item-pill each-tab">
      <%= link_to '#アジア', post_search_path(search: "アジア"),:class=>"btn-blue"%>
    </li>
    <li class="nav-item-pill each-tab">
        <%= link_to '#ハワイ', post_search_path(search: "ハワイ"),:class=>"btn-red"%>
    </li>
    <li class="nav-item-pill each-tab">
    <%= link_to '#ヨーロッパ', post_search_path(search: "ヨーロッパ"),:class=>"btn-blue"%>
    </li>
    <li class="nav-item-pill each-tab">
        <%= link_to '#北米', post_search_path(search: "北米"),:class=>"btn-red"%>
    </li>
    <li class="nav-item-pill each-tab">
    <%= link_to '#中南米', post_search_path(search: "中南米"),:class=>"btn-blue"%>
    </li>
    <li class="nav-item-pill each-tab">
        <%= link_to '#オセアニア', post_search_path(search: "オセアニア"),:class=>"btn-red"%>
    </li>
    <li class="nav-item-pill each-tab">
    <%= link_to '#中東', post_search_path(search: "中東"),:class=>"btn-blue"%>
    </li>
    <li class="nav-item-pill each-tab">
        <%= link_to '#アフリカ', post_search_path(search: "アフリカ"),:class=>"btn-red"%>
    </li>
    <li class="nav-item-pill each-tab">
    <%= link_to '#リゾート', post_search_path(search: "リゾート"),:class=>"btn-blue"%>
    </li>
  </div>
</ul>

