<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCrxk4mWzR5KuFY6-X95rlEAnT1YhoJq5E&callback="></script>
<% provide(:title, @post.user.name) %>
<div class="container">
  <div class="row">
    <div class="card mx-auto">
      <div class="row w-100 mx-auto" style="padding:5px;">
        <div class="col-10">
          <%= image_tag(@post.user.image.url,width:'50',:class => "icon") %><%= @post.user.name %>
        </div>
        <div class="col-2">
          <div class="row">
            <div class="col-12">
              <%= link_to '編集', edit_book_post_path(@book,@post) ,style: "color:#4c7bc4;" %>
            </div>
            <div class="container text-left">
              <div class="row text-center">
                <div class="col-12">
                  <i class="fas fa-plane-departure  fa-2x" style="color:#5db3ece8;"></i>
                </div>
                <div class="col-12">
                  <p style="color:#5db3ece8;font-size:0.8em;margin:0px;">もっと読む</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="card-body no-gutters">
        <% if @post.longitude.present? %><!-- mapの登録があれば -->
          <div id="map_<%= @post.book_id %>_<%= @post.id %>"></div>
          <style>
            #map_<%= @post.book_id %>_<%= @post.id %> {
              height: 250px;
              width:100%;
            }
          </style>
          <script>
            // let mapInstance; //この変数はmap.js.erbでも使うのでタイプミスに注意
            $(function(){
              initMap_<%= @post.book_id %>_<%= @post.id %>();
              function initMap_<%= @post.book_id %>_<%= @post.id %>(){
                mapdisplay_<%= @post.book_id %>_<%= @post.id %>();
              }
              function mapdisplay_<%= @post.book_id %>_<%= @post.id %>(){
                var latitude_<%= @post.book_id %>_<%= @post.id %> = <%= @post.latitude.to_f %>;
                var longitude_<%= @post.book_id %>_<%= @post.id %> = <%= @post.longitude.to_f %>;
                var latlng_<%= @post.book_id %>_<%= @post.id %> = {lat: latitude_<%= @post.book_id %>_<%= @post.id %>, lng: longitude_<%= @post.book_id %>_<%= @post.id %>};
                var map_<%= @post.book_id %>_<%= @post.id %> = new google.maps.Map(document.getElementById("map_<%= @post.book_id %>_<%= @post.id %>"),{
                  center: latlng_<%= @post.book_id %>_<%= @post.id %>,
                  zoom: 13,
                  controlSize: 20
                });
                var marker = new google.maps.Marker({
                  position: latlng_<%= @post.book_id %>_<%= @post.id %>,
                  map: map_<%= @post.book_id %>_<%= @post.id %>,
                  })
                  console.table(latlng_<%= @post.book_id %>_<%= @post.id %>);
              };
            });
          </script>
        <% end %>
      </div><!-- google mapここまで -->
      <div class="card-body text-left">
        <%= simple_format @post.text %>
      </div>
      <div class="card-body no-gutters"><!-- 画像 -->
        <%unless @post.image1.blank? %>
              <%= image_tag @post.image1.url, unless: @post.image1.blank? ,class:"card-image w-100"%>
              <% end %>
        <%unless @post.image2.blank? %>
              <%= image_tag @post.image2.url,unless: @post.image2.blank? ,class:"card-image w-100" %>
              <% end %>
        <%unless @post.image3.blank? %>
              <%= image_tag @post.image3.url,unless: @post.image3.blank?,class:"card-image w-100" %>
        <% end %>
      </div>
  <div class="card-body no-gutters"style="padding-left:5px;">
      <% @post.post_hash_tags.each do |tag| %><!-- ハッシュタグ -->
        <%= link_to post_search_path(search: tag.tag),style:"padding-left:5px;color:#4c7bc4" do %>
        #<%= tag.tag %>
        <% end %>
      <% end %>
  </div>
      <div class="card-body no-gutters" style="padding-top:10px;"><!-- コメント機能 -->
        <% if logged_in? %>
          <%= form_for @comment, url: book_comments_path(params[:book_id])  do |f| %>
            <div class="container">
              <%= fields_for :point do |p| %><!-- ポイント入力 -->
                <p class="col-10 mx-auto no-gutters" style="padding-bottom:2px;" >
                  <button type="button" class="btn btn-sm btn-primary" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                    役に立ちました！<i class="fas fa-gift"></i>
                  </button>
                </p>
                <div class="collapse" id="collapseExample">
                  <div class="card card-body no-gutters" style="border:none;">
                    <div class="col-10 mx-auto no-gutters">
                      <div class="row mx-auto">
                        <output id="output">0</output>円
                        <%= p.number_field :usePoint,class:"custom-range", type:"range", value:"0", min:"0", max:"1000", step:"100" ,oninput:"document.getElementById('output').value=this.value" %>
                      </div>
                    </div>
                  </div>
                </div>
              <% end%>
              <div class="row">
                <div class="col-10 mx-auto" style="padding-bottom:10px;">
                  <%= f.text_area :comment ,required: true,class:"form-control",rows: 4%><!-- コメント入力 -->
                </div>
              </div>
              <!-- エラーメッセージ -->
              <% if @comment.errors.messages[:comment].present? %>
                <div class="error">
                  <% @comment.errors.messages[:comment].each do |message| %>
                    <p><%= message %></p>
                  <% end %>
                </div>
              <% end %>
              <% if @point.present? && @point.errors.any? %>
                <div class="error">
                  <% @point.errors.messages[:usePoint].each do |message| %>
                    <p><%= message %></p>
                  <% end %>
                </div>
              <% end %>
              <%= f.hidden_field :post_id, :value => @post.id %>
              <%= f.hidden_field :book_id, :value => params[:book_id] %>
              <%= f.hidden_field :user_id, :value => current_user.id %>
              <div class="col-10 mx-auto no-gutters">
                <%= f.submit "コメント", class: "btn btn-primary w-100"%><!-- 送信ボタン -->
              </div>
            </div>
          <% end %><!-- form_for end -->
        <% end %><!-- logged_in end -->
        <!-- コメント表示 -->
        <p class="s1" style="padding-top:30px;" data-toggle="collapse" data-target="#comments" aria-expanded="false" aria-controls="collapseExample">コメント表示 <i class="far fa-comment" style="padding-left:4px;"></i></p>
        <div class="collapse" id="comments">
          <div class="card card-body" style="border:none;">
            <% if logged_in? %>
              <% @post.comments.each do |comment| %>
                <% if @post.user_id == comment.user_id %>
                  <div class="row d-flex align-items-center">
                    <div class="offset-sm-5"></div>
                    <div class=" col-10 col-sm-6 no-gutters">
                      <div class="balloon1_right"  style="padding-right:6px;">
                        <%= comment.user.name  %>
                        <%= comment.updated_at  %>
                        <%= comment.comment  %>
                      </div>
                    </div>
                    <div class="col-2 col-sm-1 no-gutters text-center" style="padding-right:4px;">
                      <%= image_tag(comment.user.image.url,width:'50',:class => "icon_comment") %>
                    </div>
                  </div>
                <% else %>
                  <div class="row d-flex align-items-center">
                    <div class="col-2 col-sm-1 no-gutters text-center">
                      <%= image_tag(comment.user.image.url,width:'50',:class => "icon_comment") %>
                    </div>
                    <div class="col-10 col-sm-6 no-gutters">
                      <div class="balloon1_left_<%= comment.point.usePoint if comment.point.present? %>"> 
                          <%= comment.user.name  %>
                          <%= comment.updated_at  %>
                          <%= comment.comment  %>
                      </div>
                    </div>
                  </div>
                <% end %>
              <% end %>
            <% end %>
          </div>
          <!-- いいね機能 -->
          <% if logged_in? %>
            <li class="nice_<%= @post.id %>">
              <!-- いいね機能 -->
              <% unless @post.nicing_users.include?(current_user) %>
                <%= render "/nices/heart",post: @post %>
              <% else %>
                <%= render "/nices/heart_favo",post: @post %>
              <% end %>
              <!-- いいね機能 終了　-->
            </li>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
            
          </div>
        </div>


<script>
$(function(){
  if (<%= @modal_flag %>){
    $('#modal').modal('show');
  }
});
</script>

<div class="modal" id="modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
　    <p>ありがとうございます。</p>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">閉じる</button>
      </div><!-- /.modal-footer -->
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
